{% for post in paginator.posts %}
<div class="post">
    <header class="post-header">
        <h1 class="post-title">
            <a href="{{ post.url }}">{{ post.title }}</a></h1>
    </header>
    <article class="post-content">
        {{ post.content | split:'
        <!--break-->' | first }} {% if post.content contains '
        <!--break-->' %}
        <p class="right">
            <a href="{{site.baseurl}}{{ post.url }}">Sigue Leyendo -></a>
        </p>
        {% endif %}
    </article>
</div>
<br> 
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
    <ul class="pagination">
        {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
        <li class="page-item">
            <a class="page-link" href="/">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/page{{paginator.previous_page}}">&laquo;</a>
        </li>
        {% endif %} {% else %}
        <li class="disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %} {% if paginator.page == 1 %}
        <li class="active">
            <a class="page-link" href="#">1</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/">1</a>
        </li>
        {% endif %} {% for count in (2..paginator.total_pages) %} {% if count == paginator.page %}
        <li class="active">
            <a class="page-link" href="#">{{count}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/page{{count}}">{{count}}</a>
        </li>
        {% endif %} {% endfor %} {% if paginator.next_page %}
        <li class="page-item">
            <a class="page-link" href="/page{{paginator.next_page}}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>