<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }} @ Santiago de Chile 2017. </h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>Channels</li>

          {% if site.youtube_channel %}
          <li>
            <a target="_blank" href="https://youtube.com/user/{{ site.youtube_channel }}">
              <span class="icon">
                <i class="fa fa-youtube"></i>
              </span>

              <span class="username">Youtube</span>
            </a>
          </li>
          {% endif %}

          {% if site.soundcloud_channel %}
          <li>
            <a target="_blank" href="https://soundcloud.com/{{ site.soundcloud_channel }}">
              <span class="icon">
                <i class="fa fa-soundcloud"></i>
              </span>

              <span class="username">Soundcloud</span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_channel %}
          <li>
            <a target="_blank" href="https://facebook.com/{{ site.facebook_channel }}">
              <span class="icon">
                <i class="fa fa-facebook-f"></i>
              </span>

              <span class="username">Facebook</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_channel %}
          <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_channel }}">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>

              <span class="username">Twitter</span>
            </a>
          </li>
          {% endif %}



        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Bands</li>
          <li><a target="_blank" href="https://soundcloud.com/mananeros">Mañaneros</a></li>
          <li><a target="_blank" href="https://estacionespacialtropicodecapricornio.bandcamp.com/">Estación Espacial</a></li>
          <li><a target="_blank" href="https://soundcloud.com/ignacio-carcavilla">El Mapazhe</a></li>
          <li><a target="_blank" href="https://cxmanches.bandcamp.com">Comanches</a></li>
          <li><a target="_blank" href="#">Kmino d' Jah</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Contact</li>
          <li><span class="icon">
                <i class="fa fa-envelope"></i>
              </span><a href="mailto:{{ site.email }}">Write to us</a></li>
          <li><span class="icon">
                <i class="fa fa-slack"></i>
              </span><a target="_blank" href="https://manana-records.slack.com">Be part of Mañana</a></li>
          <li><span class="icon">
                <i class="fa fa-github-alt"></i>
              </span><a target="_blank" href="https://github.com/jstnn/mananarecords.com">Hosted on GitHub</a></li>
        </ul>

      </div>

    </div>

  </div>

</footer>
