<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }} @ Santiago de Chile 2016. </h2>

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>Channels</li>

          {% if site.youtube_channel %}
          <li>
            <a target="_blank" href="https://youtube.com/user/{{ site.youtube_channel }}">
              <span class="icon">
                <i class="fa fa-youtube"></i>
              </span>

              <span class="username">Youtube</span>
            </a>
          </li>
          {% endif %}

          {% if site.soundcloud_channel %}
          <li>
            <a target="_blank" href="https://soundcloud.com/{{ site.soundcloud_channel }}">
              <span class="icon">
                <i class="fa fa-soundcloud"></i>
              </span>

              <span class="username">Soundcloud</span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_channel %}
          <li>
            <a target="_blank" href="https://facebook.com/{{ site.facebook_channel }}">
              <span class="icon">
                <i class="fa fa-facebook-f"></i>
              </span>

              <span class="username">Facebook</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_channel %}
          <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_channel }}">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>

              <span class="username">Twitter</span>
            </a>
          </li>
          {% endif %}



        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Bands</li>
          <li><a target="_blank" href="http://soundcloud.com/mananeros">Mañaneros</a></li>
          <li><a target="_blank" href="http://soundcloud.com/mananeros">Estación Espacial</a></li>
          <li><a target="_blank" href="https://soundcloud.com/ignacio-carcavilla">MPZHE</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Contact</li>
          <li><a href="mailto:press@mañanarecords.com">press@mañanarecords.com</a></li>
          <li><a target="_blank" href="http://github.com/jstnn/mananarecords.com">Fork this site</a></li>
          <li><a target="_blank" href="http://manana-records.slack.com">Slack?</a></li>
        </ul>
        
      </div>

    </div>

  </div>

</footer>
