<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">

    <script src="https://use.fontawesome.com/084f2576c7.js"></script>

    <!-- Primary Meta Tags -->
    <title>Rocky Rambo x MAÑANA RECORDS</title>
    <meta name="title" content="Rocky Rambo x MAÑANA RECORDS">
    <meta name="description" content="Un sello discografico con sabor latino.
">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mananarecords.com/">
    <meta property="og:title" content="Rocky Rambo x MAÑANA RECORDS">
    <meta property="og:description" content="Un sello discografico con sabor latino.
">
    <meta property="og:image" content="https://mananarecords.com/assets/images/rocky3.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://mananarecords.com/">
    <meta property="twitter:title" content="Rocky Rambo x MAÑANA RECORDS">
    <meta property="twitter:description" content="Un sello discografico con sabor latino.
">
    <meta property="twitter:image" content="https://mananarecords.com/assets/images/rocky3.jpg">
</head>