<form action="https://mananarecords.us15.list-manage.com/subscribe/post?u=2c31d926390df89afa361ae53&amp;id=6228cd93c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="input-group mb-3">
        <input type="email" value="" name="EMAIL" class="form-control email" placeholder="email" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-warning btn-outline-secondary" name="subscribe" type="button" id="button-addon2">ENTRA</button>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_2c31d926390df89afa361ae53_6228cd93c4" tabindex="-1" value="">
        </div>
    </div>
</form>