
<div class="row">
    {% for post in site.posts %}
        <div class="col-md-4">  
            <div class="preview-panel">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img src="{{ post.preview | prepend: site.baseurl }}">
                </a>
                <br><br>
                <code class="highlighter-rouge" style="font-size:12px;padding:0;">[{{ post.code }}]</code><h4 style="margin-top:5px;">{{ post.title }}</h4>
            </div>
        </div>
    {% endfor %}
</div>
