<div class="row" style="margin-top:20px">
    <span class="social-icon col">
        <a href="https://www.youtube.com/user/mananarecords">
            <i class="fa fa-youtube-square"></i>
        </a>
    </span>
    <span class="social-icon col">
        <a href="https://open.spotify.com/album/5NE8nPG7fLOQ9XKWSpcDgC?si=GL2L2MixRwm_5-Z1iKG1nA">
            <i class="fa fa-spotify"></i>
        </a>
    </span>
    <span class="social-icon col">
        <a href="https://soundcloud.com/mananarecords">
            <i class="fa fa-soundcloud"></i>
        </a>
    </span>
    <span class="social-icon col">
        <a href="https://instagram.com/mananarecords">
            <i class="fa fa-instagram"></i>
        </a>
    </span>
    <span class="social-icon col">
        <a href="https://www.facebook.com/mananarecords">
            <i class="fa fa-facebook-square"></i>
        </a>
    </span>
    <span class="social-icon col">
        <a href="https://twitter.com/mananarecords">
            <i class="fa fa-twitter"></i>
        </a>
    </span>


</div>